<% if key.interfaces.size == 0 %>
  <p class="has-text-grey">No interfaces configured</p>
<% end %>

<% key.interfaces.each do |interface| %>
  <%= render partial: 'partials/interface_name', locals: { interface: interface } %>
  <br />
<% end %>
