<% if peers.size == 0 %>
  <span class="has-text-grey">
    Not configured
  </span>
<% end %>

<% peers.each do |peer| %>
  <%= fa_icon 'angle-right' %> Peer: <b><%= link_to " #{peer.key.name}", edit_peer_path(peer), title: "Public key: #{peer.key.short_publickey}" %></b>
  <% if peer != peers.last %>
  <br />
  <% end %>
<% end %>
