<% if valid_peering? peer %>
  <span class="has-text-success">
    <%= fa_icon 'plug' %> OK
  </span>
<% else %>
  <span class="has-text-danger">
    <%= fa_icon 'warning' %> Missing counterpart
  </span>
<% end %>
