<%= javascript_pack_tag 'jsnetworkx' %>

<!-- <script src="https://d3js.org/d3.v4.js"></script> -->

<h1 class="title">Graph</h1>

<script>

  // https://felix-kling.de/jsnetworkx/examples.html
  
  var G = new jsnetworkx.Graph();

  G.addWeightedEdgesFrom([[2,3,10]]);
  G.addStar([3,4,5,6], {weight: 5});
  G.addStar([2,1,0,-1], {weight: 3});

  jsnx.draw(G, {
      element: '#canvas',
      weighted: true,
      edgeStyle: {
          'stroke-width': 10
      }
  });
</script>
