/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$link: #34495e;
$link-hover: #00c6c8; //#ff00e5;
$primary: #34495e;
$navbar-item-color: #ffffff;
$navbar-item-hover-color: #00FFFF;
$navbar-background-color: #34495e;

@import "bulma";
@import "font-awesome";
